.cats {
    display: flex;
    justify-content: space-between;
    
}

.telegram {
  --ion-color-secondary: #0ca2e8;

}

.whatsapp{
  --ion-color-success: #10dc60;

}

.discord{

}

.facebook{
  --ion-color-primary: #3880ff;

}