<ion-header no-border>
  <ion-toolbar class="bg-gradient">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Groups
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-gradient ion-padding-vertical">

    <div class="text-white text-title ion-padding-horizontal">Things to <strong>complete</strong> your <strong>hostel</strong> life</div>

    <div class="ion-padding-horizontal">
      <ion-searchbar class="searchbar-white" placeholder="Search Categories" [debounce]="250" mode="ios"></ion-searchbar>
    </div>

  </div>
  
  <div class="ion-padding">

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="text-12pt">Categorias</div>
        </ion-col>
        <ion-col size="6">
          <div class="text-10pt ion-text-right text-warning" [routerLink]="['/chooser']" >See all</div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding">

        <ion-col size="3" *ngFor="let group of groups">
            <app-category-card [category]="group"></app-category-card>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

  <hr class="hr">

  <div class="ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="text-12pt">Recommended</div>
        </ion-col>
        <ion-col size="6">
          <div class="text-10pt ion-text-right text-warning" [routerLink]="['/list']" >See all</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding">
      <ion-row>

        <!-- as is until it gets dynamic -->
        <ion-col size="6" class="ion-no-padding">
          <app-group-card [routerLink]="['/single-group']" ></app-group-card>
        </ion-col>

        <ion-col size="6" class="ion-no-padding">
          <app-group-card [routerLink]="['/single-group']" ></app-group-card>
        </ion-col>

        <ion-col size="6" class="ion-no-padding">
          <app-group-card [routerLink]="['/single-group']" ></app-group-card>
        </ion-col>
        
        <ion-col size="6" class="ion-no-padding">
          <app-group-card [routerLink]="['/single-group']" ></app-group-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/upload']">
      <ion-fab-button color="primary" size="small">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
</ion-content>